@model Tethys.Observer.ViewModels.Department.DepartmentsViewModel

@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Create", "Department", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.NewDepartmentName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.NewDepartmentName, new { @class = "form-control" })
                    <div class="text-danger">
                        @Html.ValidationMessageFor(x => x.NewDepartmentName)
                    </div>
                </div>
            </div>

            <button class="btn btn-primary pull-right" type="submit">Create</button>
        }
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Department</th>
            <th>Rooms</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Departments)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Rooms.Count
                </td>
                <th>
                    @if (item.Rooms.Count == 0)
                    {
                        <a href="/department/delete/@(item.Id)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    }
                </th>
            </tr>
        }
    </tbody>
</table>
