@model Tethys.Notifier.ViewModels.Dashboard.IndexViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.1.1.js"></script>
    <script src="/signalr/js"></script>

    <script type="text/javascript">
        $(function () {
            var message = "@(Model.Message.Replace(Environment.NewLine, " "))";
            if (message) {
                alert(message);
            }

            var callNotifier = $.connection.callNotifierHub;

            $.connection.hub.start({ transport: ['webSockets', 'longPolling'] }).done(function () {
                $('.call-type-button').click(function () {
                    callNotifier.server.notify($(this).text().trim());
                });
            });

            callNotifier.client.callRecieved = function (callType) {
                alert(callType);
            };
        });
    </script>
}

@if (Model.IsLocalized)
{
    using (Html.BeginForm("Index", "Dashboard", FormMethod.Post))
    {
    <div class="call-list">
        @foreach (var callType in Model.CallTypes)
        {
            <div class="pull-left call-list-item">
                <a href="#" class="call-type-button btn btn-default" data-isActive="@callType.IsActive">
                    <div class="color-icon" style="background-color:@callType.Color"></div>
                    <p class="call-type-text">@callType.Name</p>
                </a>
            </div>
        }
    </div>
    }
}
else
{ 
    <div class="not-localized-view">
        <p><strong>This device is not yet localized.</strong></p>
        <p><strong>Awaiting localization...</strong></p>
        @Html.ActionLink("Localize", "Index", "Localization", null, new { @class = "btn btn-info btn-lg localization-circle-btn" })
        <p><strong>@Model.IpAddress</strong></p>
        <p><strong>@Model.MacAddress</strong></p>
    </div>
}