@model Tethys.Observer.ViewModels.Room.CreateRoomViewModel
@using Tethys.Observer.Infrastructure

@{
    ViewBag.Title = "Create a new room";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Create", "Room", FormMethod.Post, new { id = "create-room-form" }))
{
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div>
        @Html.LabelFor(x => x.DepartmentName)
        @Html.DropDownListFor(x => x.DepartmentName, Model.Departments.AsSelectList(x => x.Name, Model.DepartmentName))
    </div>

    <a href="javascript:document.getElementById('create-room-form').submit()">Create</a>
}