@model Tethys.Observer.ViewModels.Device.DevicesViewModel

@{
    ViewBag.Title = "Devices";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Room</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var device in Model.Devices)
        {
            <tr class="@(device.IsLocalized ? string.Empty : "bg-danger")">
                <td>
                    @device.Name
                </td>
                <td>
                    @(device.Room == null ? string.Empty : device.Room.Department.Name)
                </td>
                <td>
                    @(device.Room == null ? string.Empty : device.Room.Name)
                </td>
                <td>
                    @(device.Location == null ? string.Empty : device.Location.Name)
                </td>
                <td>
                    @if (device.IsLocalized)
                    {
                        var message = string.Format("Are you sure you want to unlocalize device {0} in room {1}, department {2}?", device.Name, device.Room.Name, device.Room.Department.Name);
                        var confirmUrl = "/device/Unlocalize/" + device.Id;
                        
                        <button class="btn btn-default btn-xs btn-delete-user" onclick="showPopup('Please confirm', '@(message)', '@(confirmUrl)')">Unlocalize</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
