@model Tethys.Notifier.ViewModels.Localization.LocalizationViewModel
@using Tethys.Notifier.Infrastructure

@{
    ViewBag.Title = "Localization";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.1.1.js"></script>
    <script src="signalr/hubs"></script>

    <script type="text/javascript">
        function clearDropDownById(dropDownId) {
            $('#' + dropDownId).find('option').remove();
        }

        function populateDropDown(dropDownId, values) {
            clearDropDownById(dropDownId);

            if (!values) {
                return;
            }

            var select = document.getElementById(dropDownId);

            for (var i = 0; i < values.length; i++) {
                var option = document.createElement('option');
                option.value = values[i].Name;
                option.innerHTML = values[i].Name;
                select.appendChild(option);
            }
        }

        $(function () {
            var localization = $.connection.localizationHub;
            localization.client.roomsRecieved = function (rooms) {
                populateDropDown('rooms-select', rooms);
                $('#rooms-select').change();
            };

            localization.client.locationsRecieved = function (locations) {
                console.log('locationsRecieved');
                populateDropDown('locations-select', locations);
            };

            $.connection.hub.start().done(function () {
                $('#department-select').change(function () {
                    if (!$(this).val()) {
                        clearDropDownById('rooms-select');
                        clearDropDownById('locations-select');
                        return;
                    }

                    localization.server.getRooms($(this).val())
                });

                $('#rooms-select').change(function () {
                    localization.server.getLocations($(this).val(), $('#department-select').val())
                });
            });
        });
    </script>
}

@using (Html.BeginForm("Index", "Localization", FormMethod.Post, new { @class = "form-horizontal localization-form" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.DeviceName, new { @class = "col-sm-1 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.DeviceName, new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.DeviceName)
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        @Html.LabelFor(x => x.IpAddress, new { @class = "col-sm-1 control-label" })
        <div class="col-sm-10">
            @Html.HiddenFor(x => x.IpAddress)
            <p class="form-control-static">@Model.IpAddress</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        @Html.LabelFor(x => x.MacAddress, new { @class = "col-sm-1 control-label" })
        <div class="col-sm-10">
            @Html.HiddenFor(x => x.MacAddress)
            <p class="form-control-static">@Model.MacAddress</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        @Html.LabelFor(x => x.SelectedDepartmentName, new { @class = "col-sm-1 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(x => x.SelectedDepartmentName, Model.Departments.AsSelectList(x => x.Name, string.Empty), new { id = "department-select", @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.SelectedDepartmentName)
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        @Html.LabelFor(x => x.SelectedRoomName, new { @class = "col-sm-1 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(x => x.SelectedRoomName, new SelectListItem[0], new { id = "rooms-select", @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.SelectedRoomName)
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        @Html.LabelFor(x => x.SelectedLocationName, new { @class = "col-sm-1 control-label" })
        <div class="col-sm-10">
            @Html.DropDownListFor(x => x.SelectedLocationName, new SelectListItem[0], new { id = "locations-select", @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(x => x.SelectedLocationName)
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="form-group">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
            <button class="btn btn-primary" type="submit">Localize</button>
            @Html.ActionLink("Cancel", "Index", "Dashboard", null, new { @class="btn btn-default cancel-link" })
        </div>
    </div>
}